body {
  background-color: rgba(253, 160, 202, 0.769);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#joke-btn {
  margin-bottom: 15px;
}
