body {
  background-color: rgba(253, 160, 202, 0.769);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#joke-btn {
  margin-bottom: 20px;
  cursor: pointer;
  background-color: rgb(212, 109, 157);
  width: 130px;
  height: 50px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.854);
}

#joke-btn:hover {
  background-color: rgb(237, 79, 153);
}
