body {
  background: #45badd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.joke-container {
  color: black;
  font-size: 18px;
  width: 75%;
  text-align: center;
}

.container img {
  max-width: 500px;
  margin-bottom: 100px;
}

#joke-btn {
  margin-bottom: 30px;
  cursor: pointer;
  background-color: #ff3482;
  color: rgb(65, 65, 65);
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

#joke-btn:hover {
  background-color: #ff67a1;
}
